*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat";
	padding: 0 1rem;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;

	.card {
		width: clamp(20rem, 40%, 30rem);
		background: linear-gradient(lightblue, coral);
		color: white;
		padding: 1rem;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.name {
			font-size: 2rem;
		}

		img {
			height: 10rem;
			width: 10rem;
			border-radius: 50%;
			border: 2px solid lightblue;
			align-self: center;
		}

		.desc {
			line-height: 1.2;
			font-family: Arial, Helvetica, sans-serif;
		}

		.wrap {
			&:hover .link {
				clip-path: circle(200% at 100% 100%);
			}
			.link {
				display: inline-block;
				text-decoration: none;
				background: lightblue;
				color: white;
				width: 100%;
				text-align: center;
				padding: 1rem;
				border-radius: 1rem;
				clip-path: circle(10% at 0 10%);
				transition: clip-path 1s;

				&:focus,
				&:hover {
					clip-path: circle(200% at 100% 100%);
				}
			}
		}
	}
}

img {
	max-width: 100%;
	object-fit: cover;
}

footer {
	margin: 2rem 0 0 0;
}
